<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script type="text/javascript"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <style>
    body {
        padding-top: 5rem;
    }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Sippet Admin Tool</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">대시보드 <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<main class="container">
    <div class="row">
        <h5 class="col-12 text-right"><span th:text="${year}">2018</span>년 <span th:text="${month}">1</span>월 <span
                th:text="${day}">4</span>일</h5>
    </div>
    <div class="row">
        <div id="app" class="col-12">
            <div class="card">
                <h4 class="card-header">페이지별 클릭 횟수</h4>
                <div class="card-body">
                    <visit-count-chart :chart-data="charData"></visit-count-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6" style="width: 20rem; height: 10rem;">
            <div class="card" style="height: 100%;">
                <h4 class="card-header">방문자수</h4>
                <div class="card-body">
                    <div>
                        <h5>전체 방문자 수 : <span th:text="${totalVisitorCount}">0</span></h5>
                        <h5>새로운 방문자 수 : <span th:text="${newVisitorCount}">0</span></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6" style="width: 20rem; height: 10rem;">
            <div class="card" style="height: 100%;">
                <h4 class="card-header">유저 재방문</h4>
                <div class="card-body">
                    <div>
                        <h5>재방문 율 : <span>40</span>%</h5>
                        <h5>평균 재방문 기간 : <span>3.3333</span>일</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
<script type="text/javascript" src="/js/dashboard.js"></script>
</body>
</html>